html {
	font-size: 14px;
	font-family: sans-serif;
}

body {
	margin: 0;
}

button {
	width: 120px;
	height: 18px;
	background-color: white;
	color: black;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

select {
	width: 150px;
	height: 21px;
}

.inner {
	padding: 5px;
	background-color: #c9c9c9;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

.table-div {
	display: inline-block;
	margin: 10px;
}

.join-container {
	display: none;
}

.join-div {
	display: inline-block;
	margin: 10px;
}

.add-join {
	width: 160px;
}

.operator-select {
	width: 40px;
}

.order-div {
	margin: 10px;
}

.conditions-div {
	margin: 10px;
}

.columns-select {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	margin: 10px;
}

.column {
	width: 25%;
	text-align: left;
	cursor: pointer;
}