.outer {
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
	padding: 5px;
	background-color: #c9c9c9;
	width: 255px;
	height: 241px;
	margin: 10% auto 0 auto;
}

.inner {
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
	padding: 5px;
	background-color: #c9c9c9;
	width: 245px;
	height: 231px;
}

.header {
	text-align: center;
}

.controls-left {
	display: inline-block;
	width: 120px;
}

.controls-right {
	display: inline-block;
	vertical-align: top;
	width: 120px;
}

select {
	width: 245px;
	margin-bottom: 3px;
}

button {
	width: 120px;
	background-color: white;
	font-family: sans-serif;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	margin-bottom: 3px;
}

button:hover {
	cursor: pointer;
}

a {
	display: table-cell;
	width: 120px;
	height: 18px;
	background-color: white;
	font-family: sans-serif;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: black;
	border: none;
	border-radius: 3px;
}

textarea {
	margin-left: 2px;
}