html {
	font-family: sans-serif;
	font-size: 14px;
}

input {
	width: 100px;
	margin-left: 5px;
	margin-bottom: 3px;
}

select {
	width: 104px;
	height: 21px;
	margin-left: 5px;
	margin-bottom: 3px;
}

button {
	width: 120px;
	background-color: white;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	font-family: sans-serif;
	margin-bottom: 3px;
}

button:hover {
	cursor: pointer;
}

button:disabled {
	cursor: auto;
}

a {
	display: flex;
	width: 120px;
	height: 18px;
	background-color: white;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	font-family: sans-serif;
	text-decoration: none;
	justify-content: center;
	margin-bottom: 3px;
	color: black;
}

.outer {
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
	padding: 5px;
	background-color: #c9c9c9;
	width: 630px;
	height: 302px;
	margin: 10% auto 0 auto;
}

.inner {
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
	padding: 5px;
	background-color: #c9c9c9;
	width: 620px;
	height: 292px;
}

.basic-info {
	display: inline-block;
}

.basic-info button {
	width: 90px;
	margin-left: 5px;
}

.controls {
	display: inline-block;
	vertical-align: top;
	float: right;
}

.details {
	display: inline-block;
	margin-left: 65px;
	margin-top: 10px;
}

.deburr {
	display: inline-block;
	vertical-align: top;
	height: 72px;
	border: 1px solid black;
	padding: 5px;
	margin-left: 24px;
}

.program {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
}

#wo-span {
	margin-left: 24px;
}

#po-span {
	margin-left: 5px;
}

#date-span {
	margin-left: 5px;
}

#operator-span {
	margin-left: 5px;
}

#tool-span {
	margin-left: 35px;
}

#tool-input {
	width: 260px;
}

#location-span {
	margin-left: 8px;
}

#drawer-span {
	margin-left: 5px;
}

#comment-span {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}

#tool-type-span {
	margin-left: 10px;;
}

#deburr-operator-span {
	margin-left: 50px;
}

#deburr-date-span {
	margin-left: 76px;
}

#filename-span {
	margin-left: 1px;
}

#aperture-span {
	margin-left: 11px;
}

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
}

#modal-content {
	display: inline-block;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #e6e6e6;
	min-height: 85px;
	width: auto;
	text-align: left;
}

#close {
	float: right;
	font-size: 30px;
	font-weight: bold;
}

#close:hover {
	cursor: pointer;
}