html {
	font-family: sans-serif;
	font-size: 12px;
}

.outer {
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
	padding: 5px;
	background-color: #c9c9c9;
	width: 470px;
	height: 112px;
	margin: 10% auto 0 auto;
}

.inner {
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
	padding: 5px;
	background-color: #c9c9c9;
	width: 460px;
	height: 102px;
}

.content {
	display: inline-block;
	vertical-align: top;
	width: 285px;
}

.content input {
	margin-left: 5px;
	margin-bottom: 3px;
}

#tool-span {
	margin-left: 20px;
}

#level-span {
	margin-left: 14px;
}

#init-span {
	margin-left: 9px;
}

.controls {
	display: inline-block;
	width: 170px;
}

button {
	display: inline-block;
	width: 80px;
	background-color: white;
	border: none;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom: 3px;
}

button:hover {
	cursor: pointer;
}

a {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 18px;
	background-color: white;
	border: none;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: black;
}