html {
	font-family: sans-serif;
}

.outer {
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
	padding: 5px;
	background-color: #c9c9c9;
	width: 450px;
	height: 140px;
	margin: 10% auto 0 auto;
}

.inner {
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
	padding: 5px;
	background-color: #c9c9c9;
	width: 440px;
	height: 130px;
}

.button {
	vertical-align: top;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px 6px 0 0;
}

.left {
	margin-left: 5px;
}

.right {
	margin-right: 1px;
}

a {
	display: block;
	width: 98px;
	height: 98px;
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
	text-decoration: none;
	color: black;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

a:hover {
	cursor: pointer;
}

a:active {
	border-color: black white white black;
}

#back-div {
	width: 100px;
	height: 20px;
	float: right;
	margin-right: 4px;
}

#back-a {
	width: 98px;
	height: 18px;
}