html {
	font-family: sans-serif;
	font-size: 12px;
}

select {
	height: 22px;
}

select:hover {
	cursor: pointer;
}

select:disabled {
	cursor: auto;
}

input {
	height: 16px;
	margin-bottom: 3px;
}

button {
	display: inline-block;
	width: 80px;
	background-color: white;
	border: none;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom: 3px;
}

button:hover {
	cursor: pointer;
}

button:disabled {
	cursor: auto;
}

a {
	display: table-cell;
	width: 164px;
	height: 18px;
	background-color: white;
	border: none;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: black;
}

table {
	font-family: sans-serif;
	font-size: 14px;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

table tbody {
	display: block;
	width: 100%;
	overflow: auto;
	max-height: 200px;
	background-color: white;
}

table thead {
	display: block;
	text-align: left;
}

tbody tr:hover {
	cursor: pointer;
}

.outer {
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
	padding: 5px;
	background-color: #c9c9c9;
	width: 470px;
	height: 112px;
	margin: 10% auto 0 auto;
}

.inner {
	border-top: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
	padding: 5px;
	background-color: #c9c9c9;
	width: 460px;
	height: 102px;
}

.content {
	display: inline-block;
	vertical-align: top;
	width: 285px;
}

.content input {
	margin-left: 5px;
	margin-bottom: 3px;
}

.content select {
	height: 21px;
	margin-left: 5px;
	margin-bottom: 3px;
}

.controls {
	display: inline-block;
	width: 170px;
}

.col1 {
	width: 175px;
}

.col2 {
	width: 50px;
}

.col3 {
	width: 125px;
}

.col4 {
	width: 100px;
}

#tool-span {
	margin-left: 18px;
}

#state-span {
	margin-left: 43px;
}

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rbga(0,0,0,0.4);
}

#modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #e6e6e6;
	width: 500px;
}

#close {
	float: right;
	font-size: 30px;
	font-weight: bold;
}

#close:hover {
	cursor: pointer;
}